
@{
    ViewBag.Title = "Continuecheckout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    /* HOME SECTION */
    #home {
        display: flex;
        flex-direction: column;
        padding: 54px 200px;
        height: 300px;
        justify-content: center;
        align-items: center;
    }

        #home::before {
            content: "";
            background-color: white;
            position: absolute;
            height: 100%;
            top: 0px;
            left: 0px;
            width: 100%;
            z-index: -1;
            opacity: 0.77;
        }

        #home h2 {
            color: black;
            text-align: center;
        }

        #home p {
            color: black;
            text-align: center;
            font: 4rem;
            font-family: 'Times New Roman', Times, serif
        }

    .container {
        display: flex;
    }
    /* .card{
    padding: 54px 128px;
    margin: 83px 411px;
    /* border: 2px solid red; */
    /* background-color: white; */
    /* box-shadow: 8px 7px black; */
    /* box-shadow: 7px 5px 10px black; */

    #home h2 {
        font-size: 2.8rem;
        padding: 22px;
    }

    #home p {
        font-size: 1.5rem;
    }

    #home p1 {
        font-size: 1.6rem;
    }

    footer {
        background-color: black;
        color: white;
        padding: 9px 20px;
    }
    /* Utility Classes */
    .h-primary {
        font-size: 2.8rem;
        padding: 33px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .btn {
        /* padding: 10px 96px;
    border: 2px solid white;
    background-color: rgb(147, 38, 147);
    color: white;
    margin: 17px;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer; */
        padding: 14px 59px;
        border: 2px solid white;
        background-color: purple;
        color: white;
        margin: 31px;
        font-size: 1rem;
        border-radius: 57px;
        cursor: pointer;
    }

    #home .btn :hover {
        color: brown;
    }

    .btn1 {
        padding: 14px 85px;
        border: 2px solid white;
        background-color: purple;
        color: white;
        margin: 31px;
        font-size: 1rem;
        border-radius: 57px;
        cursor: pointer;
        /* padding: 14px 120px;
    border: 2px solid white;
    background-color: rgb(147, 38, 147);
    color: white;
    margin: 23px;
    font-size: 1rem;
    border-radius: 44px;
    cursor: pointer; */
    }

    #home .btn:hover {
        background-color: rgb(74, 2, 74);
    }

    #home .btn1:hover {
        background-color: rgb(74, 2, 74);
    }
</style>




<!-- body -->
<section id="home">
    <!-- <div class="container"> -->
    <!-- div.card#car-$*3 -->
    <!-- <div class="card" id="card-1"> -->
    <h2>Select</h2>
    <p1>please select one of the following</p1>
    @*<button class="btn">Continue Shopping</button>*@
    <a href="@Url.Action("ScanEnter", "FirstPage")">
        <button class="btn">Continue Shopping</button>
    </a>
    <p2>or</p2>
    @*<button class="btn1">Checkout</button>*@
    <a href="@Url.Action("Cart", "FirstPage")">
        <button class="btn1">Checkout</button>
    </a>
</section>


