
@{
    ViewBag.Title = "Logout";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h2>Logout</h2>

<p>Are you sure you want to log out?</p>

@*@using (Html.BeginForm("Logout", "Home", FormMethod.Post))
{
    <input type="submit" value="Logout" />
}*@



