
@{
    ViewBag.Title = "WrongBarcode";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Wrong Barcode</h2>

<p>Barcode does not exist. Please check the barcode and try again.</p>

@Html.ActionLink("Go back to ScanEnter", "ScanEnter", "YourControllerName")

