

@{
    ViewBag.Title = "Received Feedback";
    Layout = "~/Views/Shared/AdminLayout.cshtml"; 
}

<body>
    <div class="admin-panel">
        <h1>User Feedback</h1>

        <table class="inventory-table">
            <thead>
                <tr>

                    <th>Email</th>
                    <th>Name</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var feedback in Model) //we use loop to see the record in the database , client is the variable which will take us to the users action in the model Client master
                {
                    <tr>
                        <td>@feedback.Email</td> @*feedback is the data from the database through the C# Controller in the backend action basically 'feedback' is the variable where the whole data is saving and client_id is the frontend *@
                        <td>@feedback.Name </td> @*Full_Name is the table column names to store the data accordingly *@
                        <td>@feedback.Message</td>
                        
                        <!--<td>
                            <a href="#" class="delete-btn" onclick="deleteRow(this)">Delete</a>-->@*whe delete button pressed the following row will be deleted *@
                        <!--</td>-->

                    </tr>

                }

    </div>

    <style>
        /* Add your custom CSS styles here */

        .container {
            margin-top: 20px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        thead {
            background-color: purple;
            color: #fff;
        }

        tbody tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        tbody tr:hover {
            background-color: #e0e0e0;
        }

        p {
            font-size: 18px;
            color: #555;
        }
    </style>


